body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  color: #333;
}

h1 {
  text-align: center;
}

.list-controls {
  text-align: center;
}

#today-app {
  width: 33%;
  min-width: 300px;
  margin: 0 auto;
}

#new-item-form {
  display: flex;
}

#new-item-form input {
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  padding: 0.8em 0.5em;
  flex: 1;
}

#new-item-form button {
  border: 1px solid #3af;
  border-radius: 0 4px 4px 0;
  border-left: none;
  padding: 0 1em;
  background: #3af;
  color: #eee;
  cursor: pointer;
  transition: 0.2s;
}

#new-item-form button:hover {
  background: #29f;
}

.item-list {
  list-style: none;
  margin: 1em 0;
  padding: 0;
}

.item {
  border: 1px solid #ddd;
  border-bottom: none;
  box-sizing: border-box;
  cursor: pointer;
  display: flex;
  align-items: center;
  width: 100%;
  transition: 0.2s;
}

.item:hover {
  background: #eee;
}

.item:first-child {
  border-radius: 4px 4px 0 0;
}

.item:last-child {
  border-radius: 0 0 4px 4px;
  border-bottom: 1px solid #ddd;
}

.item * {
  margin: 0.5em 0.8em;
}

.item input[type='text'] {
  border: 1px solid #ddd;
  border-radius: 4px 0 0 4px;
  padding: 0.8em 0.5em;
  flex: 1;
}

.item-name {
  flex: 1;
}

.item-btn {
  cursor: pointer;
  border: none;
  border-radius: 50%;
  width: 32px;
  height: 32px;
  padding: 0;
  margin: 0;
  color: #eee;
  background: #aaa;
  transition: 0.2s;
}

.item-btn:hover {
  background: #999;
}

.save-edit {
  background: #3af;
}

.save-edit:hover {
  background: #29f;
}

.item-delete,
.cancel-edit {
  background: #f22;
}

.item-delete:hover,
.cancel-edit:hover {
  background: #d00;
}

.complete {
  text-decoration: line-through;
}
